@font-face {
    font-family: 'Flexo';
    src: url("../font/Flexo/Flexo-Regular.otf");
}
* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
h1, h2 {
  font-family: 'Flexo';
  text-transform: capitalize;
}

.az{
  background-color: #7aa44a ;
  color:  #fff;
  text-align: center;
}

.item {
    background: #dbdbdb;
    margin: 14px;
}
.item .box-img{
    position: relative;
    height: 221px;
    padding: 21px 63px;
}

.item .box-img img {
    height: 100%;
}
.trapecio .box-icon {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 7px;
}
.item .trapecio {
    background-image: url("../icon/trapecio.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
}
.box-icon img {
    display: inline-block;
    width: 21px;
    height: 21px;
}
.item p {
    background: #fff;
    text-transform: capitalize;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header .fa-chevron-left {
      margin-right: 16px;
    }
    /*RESULTADO*/
    #result {
        padding: 21px 70px;
    }
    #result .item {
        width: 133px;
        display: inline-block;
        position: relative;
    }
    .item .box-img{

        height: 175px;
        padding: 21px 7px;
    }
    .item .box-img a{
        height: 80%;
    }
    .item .trapecio {
        height: 28px;
    }
    .az{
      width: 50px;
      height: 20px;
      margin-left: 50%;
      margin-top: 9%;

    }
    .modal {
        width: 90%!important;
    }
    .modal-content {
        background: #edecec;
        padding-right: 0;
        padding-left: 0;
    }
    .modal .item {
        width: initial;
    }
    .modal .item .box-img {
        padding: 21px 44px;
        height: auto;
    }
    .modal .trapecio .box-icon {

    }

    .modal .item .trapecio {
        height: 49px;
    }
}
