* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}
#result {
    padding: 21px 140px;
}
#search .item {
    display: inline-block;
    width: 210px;
    height: 245px;
    background: #e5e5e5;
    margin-right: 14px;
    margin-left: 14px;
}

#search .trapecio {
    position: relative;
    width: 100%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;

}
